[submodule "themes/hugo-theme-flat"]
	path = themes/hugo-theme-flat
	url = https://github.com/leafee98/hugo-theme-flat.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
